.one-line{
    width: 40%;
    margin-left: 1rem;
}
body{
    background-color: rgb(196, 251, 252);
    padding: 2rem;
}
input{
    height: 2rem;
    margin-top: 2rem ;
    padding-left: 2rem;
}
.two-lines{
    width: 30%;
    margin-left: 1rem;
}
h3{
    margin-top: 3rem;

}
.submit{
    margin-left: 30rem;
    width: 300px;
    background-color: chartreuse;
    color: darkblue;
}